# Home Assistant test
# linters such as flake8 and pylint should be pinned, as new releases
# make new things fail. Manually update these pins when pulling in a
# new version
flake8
pylint
mypy
pydocstyle
coveralls
pytest
pytest-aiohttp
pytest-cov
pytest-timeout
pytest-catchlog
pytest-sugar
requests_mock
mock-open
flake8-docstrings
asynctest
freezegun


# homeassistant.components.notify.html5
PyJWT

# homeassistant.components.media_player.sonos
SoCo

# homeassistant.components.device_tracker.automatic
aioautomatic

# homeassistant.components.emulated_hue
# homeassistant.components.http
aiohttp_cors

# homeassistant.components.notify.apns
apns2

# homeassistant.components.calendar.caldav
caldav

# homeassistant.components.sensor.coinmarketcap
coinmarketcap

# homeassistant.components.device_tracker.upc_connect
defusedxml

# homeassistant.components.sensor.dsmr
dsmr_parser

# homeassistant.components.sensor.season
ephem

# homeassistant.components.climate.honeywell
evohomeclient

# homeassistant.components.feedreader
# homeassistant.components.sensor.geo_rss_events
feedparser

# homeassistant.components.conversation
fuzzywuzzy

# homeassistant.components.tts.google
gTTS-token

# homeassistant.components.ffmpeg
ha-ffmpeg

# homeassistant.components.sensor.geo_rss_events
haversine

# homeassistant.components.mqtt.server
hbmqtt

# homeassistant.components.binary_sensor.workday
holidays

# homeassistant.components.frontend
home-assistant-frontend

# homeassistant.components.influxdb
# homeassistant.components.sensor.influxdb
influxdb

# homeassistant.components.dyson
libpurecoollink

# homeassistant.components.media_player.soundtouch
libsoundtouch

# homeassistant.components.sensor.mfi
# homeassistant.components.switch.mfi
mficlient

# homeassistant.components.binary_sensor.trend
# homeassistant.components.image_processing.opencv
numpy

# homeassistant.components.mqtt
# homeassistant.components.shiftr
paho-mqtt

# homeassistant.components.device_tracker.aruba
# homeassistant.components.device_tracker.asuswrt
# homeassistant.components.device_tracker.cisco_ios
# homeassistant.components.device_tracker.unifi_direct
# homeassistant.components.media_player.pandora
pexpect

# homeassistant.components.pilight
pilight

# homeassistant.components.sensor.mhz19
# homeassistant.components.sensor.serial_pm
pmsensor

# homeassistant.components.prometheus
prometheus_client

# homeassistant.components.canary
py-canary

# homeassistant.components.zwave
pydispatcher

# homeassistant.components.litejet
pylitejet

# homeassistant.components.alarm_control_panel.nx584
# homeassistant.components.binary_sensor.nx584
pynx584

# homeassistant.components.sensor.darksky
python-forecastio

# homeassistant.components.sensor.whois
pythonwhois

# homeassistant.components.device_tracker.unifi
pyunifi

# homeassistant.components.notify.html5
pywebpush

# homeassistant.components.python_script
restrictedpython

# homeassistant.components.rflink
rflink

# homeassistant.components.ring
ring_doorbell

# homeassistant.components.media_player.yamaha
rxv

# homeassistant.components.sleepiq
sleepyq

# homeassistant.components.climate.honeywell
somecomfort

# homeassistant.components.recorder
# homeassistant.scripts.db_migrator
sqlalchemy

# homeassistant.components.statsd
statsd

# homeassistant.components.camera.uvc
uvcclient

# homeassistant.components.vultr
vultr

# homeassistant.components.wake_on_lan
# homeassistant.components.media_player.panasonic_viera
# homeassistant.components.media_player.samsungtv
# homeassistant.components.media_player.webostv
# homeassistant.components.switch.wake_on_lan
wakeonlan

# homeassistant.components.cloud
warrant

# homeassistant.components.sensor.yahoo_finance
yahoo-finance
