# linters such as flake8 and pylint should be pinned, as new releases
# make new things fail. Manually update these pins when pulling in a
# new version
flake8
pylint
mypy
pydocstyle
coveralls
pytest
pytest-aiohttp
pytest-cov
pytest-timeout
pytest-catchlog
pytest-sugar
requests_mock
mock-open
flake8-docstrings
asynctest
freezegun
